@import "../../../global.scss";

ion-header {
  ion-toolbar {
    --background: #f7f7f7;

    .icon-back-arrow {
      @include font-size($font-size-xlg);

      color: $txt-color-dk;
      padding-left: 16px;
    }

    ion-title {
      padding-left: 16px;

      span {
        @include font-size($font-size-lg);

        color: $black-dk;
        font-weight: $bold-md;
        text-transform: capitalize;
      }
    }

    .create-return {
      padding-right: 15px;
      color: $red-dk;
      font-size: $font-size-sm;
      font-weight: $bold-md;
    }
  }

  ion-segment {
    --background: #f7f7f7;
  }
}

.search-results-header {
  padding: 10px;
  color: $txt-color-dk;
  background-color: $white;
  border-bottom: 1px solid $border-color;
  @include font-size($font-size-n);
}

ion-content {
  .main-wrapper-return-product {
    margin-top: 10px;
    background: $white;

    .return-product-each-item {
      border-bottom: 1px solid $grey-light;
      padding: 16px 10px;

      .main-wrapper-list {
        align-items: center;
        display: flex;
      }

      img {
        border-radius: 4px;
        height: 80px;
        object-fit: cover;
        min-width: 80px;
        max-width: 80px;
      }

      .return-status {
        background: $yellow-light;
        border-radius: 12px;
        color: $grey-md;
        font-weight: 700;
        font-size: 10px;
        padding: 5px 8px;
      }

      .return-code {
        color: $txt-color-dk;
        font-size: 13px;
        font-weight: 400;
        margin: 2px 0;
        line-height: 20px;
        margin-top: 10px;

        span {
          color: $red-dk;
        }
      }

      .return-item {
        color: $txt-color-dk;
        font-size: 13px;
        font-weight: 600;
        margin: 0;
        line-height: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
  }

  app-no-data {
    ::ng-deep {
      .empty-cart-modal-body {
        height: unset !important;
        padding: 0;
      }
    }
  }

  .no-data {
    height: 100%;

    .no-content {
      background-color: $white;
      border-radius: 8px;
      height: 95%;
      margin: 10px 16px;
    }
  }
}

ion-footer {
  .sort-btn {
    --color: #4a4a4a; // $txt-color-dk
    --background: white;
    @include font-size($font-size-n);
    --border-color: white;
    --box-shadow: none;
    width: 100%;
    margin: 0;
    --border-radius: 0;
    height: 48px;

    .icon-sort {
      margin-right: 5px;
    }
  }
}

.ml-25 {
  margin-left: 25px;
}

.return-header::after {
  background-image: none;
}

.segments {
  padding: 10px 16px 6px;
  background-color: $grey-xlt;
}
