<section *ngIf="!isLoading; else loadContent">
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let restaurant of restaurants">
        <app-restaurant-item
          [pickAddress]="pickupAddress"
          [restaurant]="restaurant"
        ></app-restaurant-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<ng-template #loadContent>
  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let i of 6 | staticArray">
        <app-restaurant-item [isLoading]="true"></app-restaurant-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ng-template>
