@import "src/global.scss";

ion-content {
  --padding-bottom: env(safe-area-inset-bottom);
}

.store-details-container {
  padding-bottom: env(safe-area-inset-bottom);
}

.store-card {
  background: $white;
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
  padding: 16px;

  .store-header {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo-name {
      align-items: center;
      display: flex;

      .img-div {
        height: 44px;
        margin-right: 12px;
        width: 44px;

        ion-img {
          border-radius: 5px;
          height: 100%;
          object-fit: cover;
          width: 100%;

          &::part(image) {
            border-radius: 5px;
          }
        }
      }

      .name-div {
        div:first-child {
          @include font-size($font-size-n);

          color: $txt-color-dk;
          font-weight: $bold-n;
        }

        div:last-child {
          color: $solid-gray;
          margin-top: 2px;
        }
      }
    }
  }

  .content {
    background: $white;
    border-bottom: 1px solid $yellow-light;
    padding-bottom: 16px;

    .content-wrap {
      align-items: center;
      display: flex;
      padding: 14px 0 0;
      width: 100%;

      .icon-div {
        margin-right: 26px;

        i {
          @include font-size($font-size-xlg);

          color: $solid-gray;
        }
      }

      .location {
        @include font-size(15px);

        border-bottom: 1px solid $border-color;
        color: $txt-color-blt;
        padding-bottom: 14px;
        width: 100%;
      }
    }

    .content-wrap:last-child {
      .location {
        border-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .status-section {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;

    .status {
      align-items: center;
      display: flex;

      .dot {
        background: $orange-n;
        border-radius: 50%;
        height: 6px;
        margin-right: 6px;
        width: 6px;
      }

      .verified-status {
        background: $green-n;
      }

      &-name {
        @include font-size(13px);

        color: $solid-gray;
        font-weight: $bold-md;
      }
    }

    .store-date {
      @include font-size(13px);

      color: $solid-gray;
      font-weight: $bold-md;
    }
  }

  .document {
    background: white;
    padding-top: 20px;

    div {
      @include font-size($font-size-sm);

      align-items: center;
      border-radius: 8px;
      border: 1px solid $red-dk;
      color: $app-accent-color;
      display: flex;
      height: 40px;
      justify-content: center;
      position: relative;

      ion-icon {
        @include font-size($font-size-sm);

        color: $app-accent-color;
        margin-left: 8px;
        margin-top: 2px;
      }
    }
  }
}

.physical-store-outlets {
  background: $white;
  border-radius: 8px;
  margin: 16px;
  padding: 16px 12px;

  p {
    margin: 0;
  }

  .header {
    @include font-size(13px);

    align-items: center;
    display: flex;
    justify-content: space-between;

    .txt {
      color: $solid-gray;
      line-height: 15px;

      span {
        color: $black-dk;
        font-weight: $bold-md;
      }
    }

    .btn {
      align-items: center;
      color: $red-dk;
      display: flex;
      font-weight: $bold-md;

      .btn-txt {
        color: $red-dk;
      }

      ion-icon {
        margin-left: 4px;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;

    .location,
    .members {
      display: flex;
      gap: 20px;

      img {
        height: 20px;
        width: 20px;
      }

      .txt {
        @include font-size($font-size-sm);

        color: $black-dk;
        line-height: 16px;
      }

      i {
        @include font-size($font-size-md);

        color: $solid-gray;
      }
    }

    .location {
      .txt {
        margin-left: -4px;
      }
    }
  }
}

.store-details {
  background: $white;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;

  .content {
    border-bottom: 1px solid $yellow-light;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 12px;
  }

  .content:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0
  }

  .labels {
    @include font-size($font-size-sm);

    color: $solid-gray;
    line-height: 17px;
  }

  .values {
    @include font-size($font-size-sm);

    color: $black-dk;
    font-weight: $bold-md;
    line-height: 17px;
  }
}

.document {
  background: $white;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;

  .img-div {
    height: 311px;

    ion-img {
      height: 100%;
      width: 100%;

      &::part(image) {
        object-fit: contain;
      }
    }
  }
}

ion-skeleton-text {
  margin: 0;
}
