<ion-item-options side="end">
  <ion-item-option class="special-instructions">
    <div
      class="icon-options"
      (click)="edit()"
      id="edit-product"
    >
      <i class="icon-Edit-filled"></i>
      <p class="icon-label">Edit</p>
    </div>
  </ion-item-option>
  <ion-item-option
    class="delete"
    (click)="delete()"
    id="delete-product"
  >
    <div class="icon-options">
      <i class="icon-Delete-filled"></i>
      <p class="icon-label">Delete</p>
    </div>
  </ion-item-option>
</ion-item-options>
