@import "../../../../global.scss";

.no-data {
  height: 100%;

  .no-content {
    background-color: $white;
    border-radius: 8px;
    height: 89%;
    margin: 0 16px 16px;
  }
}

.product-variant {
  ion-list {
    background: $grey-xlt;
    padding: 0;
  }

  ion-item:first-child {
    margin-top: 0;
  }

  ion-item::part(native) {
    display: flex;
    flex-direction: column;
  }

  ion-item {
    border-radius: 8px;
    margin: 16px;

    &::part(native) {
      display: flex;
      justify-content: space-between;
      padding: 16px 0 16px 16px;
    }

    .icons {
      color: $grey-xmd;

      .icon-Edit-filled {
        padding-right: 10px;
      }
    }
  }

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    p {
      margin: 0;
    }

    .property-name {
      @include font-size($font-size-n);

      color: $txt-color-dk;
      font-weight: $bold-md;
    }
  }

  .options {
    padding: 16px 0;
    width: 100%;

    p {
      margin: 0;
    }

    .title {
      @include font-size($font-size-sm);

      color: $txt-color-dk;
      font-weight: $bold-md;
    }

    .sub-option {
      @include font-size(13px);

      color: $solid-gray;
      padding: 6px 0;
    }

    p:last-child {
      padding-bottom: 0;
    }
  }

  .price {
    width: 100%;

    p {
      @include font-size(13px);

      color: $txt-color-dk;
      font-weight: $bold-md;
      margin: 0;
    }

    p:first-child {
      padding-bottom: 8px;
    }
  }
}
