@import '/src/global.scss';

ion-header {
  background: $grey-xlt;

  ion-toolbar {
    --background: #f7f7f7;

    color: $txt-color-dk;

    ion-title {
      @include font-size($font-size-lg);

      font-weight: $bold-md;
      padding-left: 16px;
    }
  }

  .segment {
    display: flex;
    margin: 8px 16px 20px;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

ion-content {
  section {
    height: 100%;
  }
}
