<section class="return-information">
  <div class="header">Return Information</div>
  <div class="return-information-details">
    <div class="stage">
      <p>Stage</p>
      <p>Returned to Vendor</p>
    </div>
    <div class="warehouse">
      <p>Warehouse Name</p>
      <p>XYZ Warehouse</p>
    </div>
    <div class="collection-point">
      <p>Collection Point Name</p>
      <p>XYZ Collection Point</p>
    </div>
    <div class="refund-amount">
      <p>Refund Amount</p>
      <p>Rs. 12,789</p>
    </div>
    <div class="refund-method">
      <p>Refund Method</p>
      <p>Pick Up</p>
    </div>
    <div class="refund-method">
      <p>Refund Method</p>
      <p>OHO Coins</p>
    </div>
  </div>
</section>
